# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Environments
.venv/
env/
*.env

# Data & models (DVC will manage)
# ignore processed data and models, but track raw data pointer
data/processed/
models/


# DVC metadata
+.dvc/          # ignore the DVC cache & internals
+*.dvc          # ignore all .dvc files…
+!*.dvc         # …except let’s track them in Git

# IDE settings
.idea/